@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&family=Rowdies:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: linear-gradient(-45deg , #2b0246 , #24252a , rgb(95, 40, 167) , #000);
  /* background-color: #2b0246; */ 
  font-family: "IM Fell English", serif;
  font-family: "Rowdies", cursive;
}
body{

}
li,
a,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.cta {
  display: flexbox;
  margin-block-start: 0%;
  order: 2;
}
.logo {
  cursor: pointer;
  order: 3;
  margin-right: auto;
}
nav {
  order: 1;
}
.navLinks {
  list-style: none;
}
.nav_list li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_list li a {
  transition: all 0.3s ease 0s;
}

.nav_list li a:hover {
  color: #24252a;
}
button {
  margin-right: 2rem;
  padding: 15px 60px;
  background-color: rgb(160, 63, 199);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(95, 40, 167);
}

.contact{
  text-decoration: none;
}
