body {
  margin: 0;
  padding: auto;
  text-align: center;
  max-width: 400px;
  background-color: black;
}

/* .nav-toggle {
  position: fixed;
  display: flex;
  margin: auto;
  background: var(--clr--light);
} */

.navLink {
  background-color: aqua;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  text-align: left;
}
